.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/


# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.byebug_history
.DS_Store
.idea
.vagrant
.ruby-version
.ruby-gemset
/public/uploads/*
/db/schema.rb
config/initializers/secret_token.rb
/coverage/*

# Ignore application configuration
/config/application.yml
newrelic.yml
/config/database.yml
/config/application.yml
/config/secrets.yml
/config/initializers/setup_mail.rb
